
.btn-counter{
    display: flex;
    justify-content: center;
}

.btn-count{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #6a30e6;
    color: white;
    padding: 8px;
    margin: 4px auto;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    }
    
    .btn-count:hover{
    background-color: transparent;
    border: solid 1.5px #810b0b ;
    color: #6a30e6;
    font-weight: bold;
    }
    .btn-num{
        
        background-color: transparent;
        color: #810b0b;      
        font-size: 1.5rem;
        margin: 4px auto;
        padding: 8px;
         
    }