*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
     
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #9124f6;
    padding: 18px;
    
}
.categorias{
    display: flex;
    list-style: none;  
    gap: 1rem;
}
.brand{
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
}
.logo{
    width: 150px;
    border-radius: 15px;
}
.name{
    font-size: 3rem;
    font-weight: bold;
    font-family:'Franklin Gothic Medium';
}
.name:hover{
    transform: scale(1,2);
    color: #8d112a;
}
li{
    font-size: 1.5rem;
    padding: .25rem;
    margin: .25rem;
    
}
li:hover{
    color: #8d112a;
    text-decoration: underline;
}

.widget{
align-items: center;
font-size: 2rem;
}
.widget:hover{
    color: #8d112a;
}
h1{
    font-size: 3rem;
    color: #a40505;
    padding: 2.5rem 0;
    text-align: center;
    text-shadow: 2px 2px 5px #cb4ecb;
}
.categoria{
    color: white;
    text-decoration: none;

}
.categoria-active{
    color: #8d112a;
    text-decoration: underline;

}