*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
     
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #9124f6;
    padding: 18px;
    
}
.categorias{
    display: flex;
    list-style: none;  
    gap: 1rem;
}
.brand{
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
}
.logo{
    width: 150px;
    border-radius: 15px;
}
.name{
    font-size: 3rem;
    font-weight: bold;
    font-family:'Franklin Gothic Medium';
}
.name:hover{
    transform: scale(1,2);
    color: #8d112a;
}
.categorias{
   padding: .25rem;
    margin: .25rem;
    
}
.categorias:hover{
    color: #8d112a;
    transform: scale(1,2);
}
.categoria{
    color: white;
    text-decoration: none;

}
.categoria-active{
    color: #8d112a;
    text-decoration: underline;

}
.cartwidget{
display: flex;
justify-content: center;
}

.icon-widget{
align-items: center;
font-size: 2rem;
text-shadow: 2px 2px 5px #8d3d8d;
}

.icon-widget:hover{
    color: #8d112a;
}
.number-widget{
color: #8a0449;
padding: .25rem;
 


}

h1{
    font-size: 3rem;
    color: #a40505;
    padding: 2.5rem 0;
    text-align: center;
    text-shadow: 2px 2px 5px #cb4ecb;
}
